// 背景图使用的是tdesign的演示例子的背景图
// 实际生产中需要ui提供对应主题色的背景图片
[data-theme='light'] {
  --border-color: #e4e7ed;
  --text-color: #303133;
  --html-bg-color: #f2f3f5;
  --bg-url: url('@/assets/bg-light.png');
}

[data-theme='dark'] {
  --border-color: #414243;
  --text-color: #e5eaf3;
  --bg-color: #0a0a0a;
  --bg-url: url('@/assets/bg-dark.png');
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--bg-color);
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
}
body {
  background-image: var(--bg-url);
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
}

button {
  padding: 12px;
  margin-right: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.text {
  color: var(--text-color);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
