// 背景图使用的是tdesign的演示例子的背景图
// 实际生产中需要ui提供对应主题色的背景图片
:root[data-theme='light'] {
  --song-border-color: #363637;
  --song-text-color: #303133;
  --song-bg-color: #f2f3f5;
  --song-bg-url: url('@/assets/bg-light.png');
}

:root[data-theme='dark'] {
  --song-border-color: #636466;
  --song-text-color: #e5eaf3;
  --song-bg-color: #0a0a0a;
  --song-bg-url: url('@/assets/bg-dark.png');
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--song-bg-color);
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
}
body {
  background-image: var(--song-bg-url);
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
}

button {
  border: 1px solid var(--song-border-color);
  border-radius: 4px;
  color: var(--song-text-color);
  background-color: var(--song-bg-color);
}

.text {
  color: var(--song-text-color);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
